{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        
        {% block header %}
          
        {% endblock header %}
        
        <title>Pokemon App</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Pokemon App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                    <a class="nav-link" href="/index/">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/type/">Types</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gens
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/gen/1">1</a>
                        <a class="dropdown-item" href="/gen/2">2</a>
                        <a class="dropdown-item" href="/gen/3">3</a>
                        <a class="dropdown-item" href="/gen/4">4</a>
                        <a class="dropdown-item" href="/gen/5">5</a>
                        <a class="dropdown-item" href="/gen/6">6</a>
                        <a class="dropdown-item" href="/gen/7">7</a>
                    </div>
                    </li>
                </ul>
            </div>
        </nav>        
      
        {% block content %}
          
        {% endblock content %}

        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    </body>
</html>